<div id="footer">
  <div class="wrap">
    <div class="center copyrights">&copy; · {{ year }} · <a href="URL">Nombre centro</a>
    </div>
    <div class="logo-footer-right show-for-large">
      <div class="logo-footer">
        <img class="pure-img" height="30px" src="{{ asset("images/logo.svg", "theme-RedIRIS") }}" alt="NombreCorto">
      </div>
    </div>
  </div>
</div>
