.img-cover {
  object-fit: cover;
  height: 100%;
  width: 100%;
}
.img-card {
  max-width: 300px;
  height: auto;
}
.overflow-hidden {
  overflow: hidden;
}
.opacity-card-body {
  background: rgba(255, 255, 255, 0.9); /* Cambia el último valor para ajustar la transparencia */
}

.main-button {
  background-color: #af071f;
  color: white;
}

.main-button:hover {
  background-color: #c53e50;
  color: white;
}

.label-text {
  color: grey;
}

.label-text:hover {
  color: black;
}

.pure-img {
  max-width:100%;
  max-height: 6rem;
  display: block;
}

.radio-container {
  display: flex;
  flex-wrap: wrap; /* Para que sea responsive */
  gap: 20px; /* Espacio más amplio entre los radio buttons */
  justify-content: center; /* Centra los botones */
  width: 100%;
  padding-top: 10px;
}

.radioOrg {
  display: flex;
  align-items: center;
  cursor: pointer;
  font-size: 1.1rem; /* Letra más grande */
  font-weight: bold; /* Hacer el texto más destacado */
  color: #333; /* Color del texto más oscuro */
}

.radioOrg input[type="radio"] {
  margin-right: 10px; /* Espacio entre el botón de radio y el texto */
  transform: scale(1.2); /* Hacer el radio button más grande */
  accent-color: #c53e50; /* Cambiar el color del radio button */
}

.radioOrg input[type="radio"]:checked {
  border-color: #c53e50; /* Bordes verdes cuando están seleccionados */
}

@media (max-width: 768px) {
  .radio-container {
      gap: 10px; /* Espacio más pequeño en pantallas medianas */
  }
}

@media (max-width: 480px) {
  .radio-container {
      flex-direction: column; /* En pantallas pequeñas, los botones estarán en una columna */
      align-items: center;
  }

  .radioOrg {
      font-size: 1rem; /* Tamaño de letra más pequeño en pantallas pequeñas */
  }
}


@keyframes slideIn {
    0% {
        opacity: 0;
        transform: scale(1);
    }
    100% {
        opacity: 1;
        transform: scale(1);
    }
}

.image-container img.slide-in {
  animation: slideIn 3s ease-out forwards;

}

@media only screen and (max-width: 767px) {
 .image-container {
       position: absolute;
       width: 100%;
       height: 100vh;
 }
 .mx-5 {
    margin-left: 0.5rem !important; /* Valor ajustado para mx-2 */
    margin-right: 0.5rem !important;
  }
  html, body {
    height: 100vh; /* Usar 100% del alto de la ventana gráfica */
  }

}
