.img-cover {
  object-fit: cover;
  height: 100%;
  width: 100%;
}
.img-card {
  max-width: 200px;
  height: auto;
}
.overflow-hidden {
  overflow: hidden;
}
.opacity-card-body {
  background: rgba(255, 255, 255, 0.9); /* Cambia el último valor para ajustar la transparencia */
}

.main-button {
  background-color: #af071f;
  color: white;
}

.main-button:hover {
  background-color: #c53e50;
  color: white;
}

.label-text {
  color: grey;
}

.label-text:hover {
  color: black;
}

.pure-img {
  max-width:100%;
  max-height: 6rem;
  display: block;
}

/*
@keyframes slideOut {
    0% {
        opacity: 1;
        transform: scale(1);
    }
    100% {
        opacity: 0;
        transform: scale(0.4);
    }
}
*/

@keyframes slideIn {
    0% {
        opacity: 0;
        transform: scale(1);
    }
    100% {
        opacity: 1;
        transform: scale(1);
    }
}

/*
.image-container img.slide-out {
  animation: slideOutLeft 2s ease-out forwards;
}
*/

.image-container img.slide-in {
  animation: slideIn 3s ease-out forwards;

}
