body,html {
  overflow: hidden;
}
.img-cover {
  object-fit: cover;
  height: 100%;
  width: 100%;
}
.overflow-hidden {
  overflow: hidden;
}
.opacity-card-body {
  background: rgba(255, 255, 255, 0.9); /* Cambia el último valor para ajustar la transparencia */
}

.main-button {
  background-color: #af071f;
  color: white;
}

.main-button:hover {
  background-color: #c53e50;
  color: white;
}

.label-text {
  color: grey;
}

.label-text:hover {
  color: black;
}

@keyframes slideOutLeft {
  0% {
    transform: translateX(0);
    opacity: 1;
  }
  100% {
    transform: translateX(-100%);
    opacity: 0;
  }
}

@keyframes slideInRight {
  0% {
    transform: translateX(100%);
    opacity: 0;
  }
  100% {
    transform: translateX(0);
    opacity: 1;
  }
}

.image-container img {
  position: absolute;
  animation-duration: 1s;
}

.image-container img.slide-out {
  animation-name: slideOutLeft;
}

.image-container img.slide-in {
  animation-name: slideInRight;
}
